<% provide(:title, "Top") %>
<div class="kv"><%= image_tag "kv.png" %></div>

<div class="login_button center">
  <%= link_to "新規ユーザー登録", new_user_registration_path, class: "new_user_button" %>
  <%= link_to "ログイン画面へ", new_user_session_path, class: "login_screen" %>
</div>