@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {    
  }

  .navbar-inverse{
    background-color: #fff;
    border: 1px solid #d8d8d8;
  }

  .navbar-inverse .navbar-nav li a{
    color: #000;
    font-weight: bold;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all  0.4s ease;
  }
  
  .navbar-inverse .navbar-nav li a:hover{
    color: #ccc;
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }
  
  /* typography */
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }

  .h1_text{
    margin-top: 60px;
    font-weight: 500;
    font-size: 30px;
    color: #000;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }
  
  /* header */
  
  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
  }
  
  .kv{
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  .kv img{
    width: 100%;
  }

  .login_button{
    margin-top: 20px;
  }
  
  .new_user_button{
    font-size: 20px;
    color: #fff;
    background-color: #0077bb;
    padding: 15px;
    margin-right: 20px;
    border-radius: 40px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all  0.4s ease;
  }
  
  .new_user_button:hover{
    color: white;
    background-color: #f19149;
    text-decoration: none;
  }
  
  .login_screen{
    font-size: 20px;
    color: #fff;
    background-color: #0077bb;
    padding: 15px;
    border-radius: 40px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all  0.4s ease;
  }
  
  .login_screen:hover{
    color: white;
    background-color: #f19149;
    text-decoration: none;
  }

  .name{
    font-size: 20px;
    margin-top: 20px;
    color: #000;
  }

  .mail-address2{    
    font-size: 20px;
    margin-top: 20px;
    color: #000;
  }

  .password{
    font-size: 20px;
    margin-top: 20px;
    color: #000;
  }
  
  .password2{
    font-size: 20px;
    margin-top: 20px;
    color: #000;
  }
  
 