<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div id="logo">Social Apartment Life+</div>
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
          <!-- ユーザーがログインしている時の処理 -->
          <li><%= link_to "設定", edit_user_registration_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>       
        <% else %>
          <!-- ユーザーがログインしていなかった時の処理 -->          
          <li><%= link_to "トップ", root_path %></li>
        <% end %>
      </ul>
              
      
    </nav>
  </div>
</header>